.container {
    width: 250px;
    height: 350px;
    background-color: #846956;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    color: #fff;
    margin: 15px 10px;
}

.box-img {
    width: 90%;
    height: 60%;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img img {
    width: 80%;
}

.datas {
    display: flex;
    gap: 5px;
}